:root {
    --main-color: #171717;
    --container-color: rgba(255, 255, 255, 0.08);
    --text-color: #ffffff;
    --diable-color: #534f4f;
    --btn-color: #0066ff;
    --btn-color-hover: #0066ff50;
    --green-btn-color: #97F704;
    --green-btn-hover: #97F70420;
    --red-btn-color: #DC3545;
    --red-btn-hover: #DC354520;
}

body {
    font-family: 'Calibri';
    background-color: var(--main-color);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    color: #ebebf5;
    border-bottom: 1px solid #ffffff50;
    padding: 10px;
    box-sizing: border-box;
    line-height: 40px;
}

.button {
    background-color: transparent;
    color: var(--btn-color);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--btn-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 80px;
    outline: none;

    &:hover {
        background-color: var(--btn-color-hover);
    }

    &.disable {
        pointer-events: none;
        color: var(--diable-color) !important;
        border-color: var(--diable-color) !important;
    }
}